@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');

*{
scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  ;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #707d99;
  border-radius: 6px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #364069;border-radius: 6px
}
body{
  font-family: "Noto Kufi Arabic", sans-serif;

}
.text-color{
  color: #364069;
}
.text-color-p{
  color: #707d99;
}
.imageBack{
  background-image: url(./assets/cover.jpg) ;
  background-repeat: no-repeat;
  background-size:  100%;
  background-position: 50%;

}
.ocean {
  height: 10%;
  width: 100%;
  opacity: .4;
  position: absolute;
  bottom: 0;
  left: 0;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: absolute;
  width: 6400px;
  top: -100px;
  left: 0;
  opacity: .3;
  height: 198px;
  transform: translate(0, 0, 0);
  animation: wave 3s ease infinite;
}
@media (max-width:767px) {
  .wave{
    top: -250px;

  }

}
@keyframes wave {
  0% { margin-left: 0; }
  100% { margin-left: -1600px;}
}
.image-gallery img {
border-radius: 16px;

}

.card:hover  .images{
  background: #fff;
  border-radius: 6px;

}
.addAnimation a{
transition:.3s ease-in ;
}
.addAnimation a:hover{
  margin-top: 5px;
  transform: translateY(-10px);
}
.addAnimationPageHome{
animation: up_down infinite 2s alternate;
}
.addAnimationPageHome2{
  animation: up_down2 infinite 2s alternate;
  }
  @keyframes up_down2 {
    0%{
    transform: translateX(10px);
    }
    100%{
      transform: translateX(-10px);
    }
    }
@keyframes up_down {
0%{
transform: translateY(10px);
}
100%{
  transform: translateY(-10px);
}
}